<h1>Update Shelter</h1>

<form action='/shelters/<%= @shelter.id %>' method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <input type='hidden' name='_method' value='PATCH' />
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="shelter[name]" value='<%= @shelter.name %>' id="name">
    <br/>
    <label for="address">Address:</label>
    <input type="text" name="shelter[address]" value='<%= @shelter.address %>' id="address">
    <br/>
    <label for="city">City:</label>
    <input type="text" name="shelter[city]" value='<%= @shelter.city %>' id="city">
    <br/>
    <label for="state">State:</label>
    <input type="text" name="shelter[state]" value='<%= @shelter.state %>' id="state">
    <br/>
    <label for="zip">Zip Code:</label>
    <input type="text" name="shelter[zip]" value='<%= @shelter.zip %>' id="zip">
    <br/>
  </div>
  <button type="submit" >Submit</button>
</form>
