<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
<h1><%= link_to "Pets at This Shelter", "/shelters/#{@shelter.id}/pets" %><h1>
  <h3>Address: <%= @shelter.address %></h3>
  <h3>City: <%= @shelter.city %></h3>
  <h3>State: <%= @shelter.state %></h3>
  <h3>Zip: <%= @shelter.zip %></h3>

<form action='/shelters/#{@shelter.id} <%= @shelter.id %>' method='post'>
  <%= link_to 'Edit', "/shelters/#{@shelter.id}/edit" %>
  <%= link_to 'Delete', "/shelters/#{@shelter.id}", method: :delete, data: { confirm: "Are you sure?" } %>
</form>
