<div class="form-group">
<h1>Update Pet</h1>
<%= form_tag("/pets/#{@pet.id}", method: :patch) do %>
<br>
  <%= label_tag "Image URL:" %>
  <%= text_field_tag :image, @pet.image %>
  <br>
  <br>
  <%= label_tag "Name:" %>
  <%= text_field_tag :name, @pet.name %>
  <br>
  <br>
  <%= label_tag "Description:" %>
  <%= text_field_tag :description, @pet.description %>
  <br>
  <br>
  <%= label_tag "Age (approx):" %>
  <%= text_field_tag :age, @pet.age%>
  <br>
  <br>
  <%= label_tag "Sex:" %>
  <%= text_field_tag :sex, @pet.sex%>
  <br>
  <br>
  <button type="submit">Submit</button>
<% end %>
<div>
