<h1>Pets</h1>

<% @pets.each do |pet| %>

<img src=<%= pet.image %> <%= pet.id %>></img>
  <h4><%= link_to "#{pet.name}", "/pets/#{pet.id}" %><h4>
  <h4>Approximate Age:</h4>
  <%= pet.age %>
  <h4>Sex:</h4>
  <%= pet.sex %>
  <h4>Shelter:</h4>
  <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %>
  <br/>
  <%= link_to 'Edit', "/pets/#{pet.id}/edit" %>
  <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %>
  <br/>
  <br/>
  <br/>
<% end %>
