<h1>Info</h1>

<h2><%= @pet.name %></h2>
<%= image_tag ( @pet.image ) %>
<div class="form-group">
<h2>Description:</h2>
<%= @pet.description  %>
<br>
<br>
<h2>Approximate Age:</h2>
<%= @pet.age %>
<br>
<br>
<h2>Sex:</h2>
<%= @pet.sex %>
<br>
<br>
<h2>Status:</h2>
<%= @pet.status %>
<br>
<br>
<h2>Shelter:</h2>
<%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %>
<br/>
<br/>
<form action='/pets/<%= @pet.id %>' method='post'>
  <%= link_to 'Edit', "/pets/#{@pet.id}/edit" %>
  <%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete,  data: { confirm: "Are you sure?" }%>
</form>
<div>
